* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #2b2d42;
  line-height: 1.6;
}

/** Estilização do Hreader */
header {
  background: linear-gradient(135deg, #43b9ce, #3a0ca3);
  color: #FFf;
  padding: 1.5rem;
  text-align: center;
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.logo img {
  width: 50px;
  height: 50px;
  margin-left: 1rem; 
}
.logo h1 {
  font-weight: 700;
  font-size: 24px;
}
.slogan {
  opacity: 0.9;
  font-size: 18px;
}
/* Fim da stilização do Hreader */


/** Estilização da Main */
main {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 0 1rem;
}
/* Fim da estilização da Main */

/** Estilização do Dashboard */
.dashboard {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #FFF;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card i{
  font-size: 2.5rem;
  margin-right: 1rem;
}
.total-produtos i {
  color: #4361ee;
}
.total-itens i {
  color: #3a0ca3;
}
.valor-total i {
  color: #7209b7;
}
.estoque-baixo i {
  color: #ef476f;
}

.card .info h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #2b2d42;
}
.card .info p {
  font-size: 1.7rem;
  font-weight: 700;
}
/* Fim da estilização do Dashboard */

/** Estilização do formulário */
.formulario-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  overflow: hidden;
}